section img {
    width: 16%;
    height: 200px;
    padding: 0 2%;
}

.characters {
    display: flex;
    justify-content: center;
}

header+section {}

section h2 {
    width: 15%;
    border: 2px solid black;
    margin: 20px 2%;
    text-align: center;
    background: white;



}

h1 {
    text-align: center;
}

.hidden {
    display: none;
}

.backgroundGif{
    height: 250px;
    width: 25%;
    margin: 50px auto;
}

/* body {

    background-image: url(yakuzabackground.webp);
    background-repeat: no-repeat;

} */

html { 
    background: url(yakuzabackground.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }