/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header{
 height: 55px;
  color: white;
  background: black;
}

nav *{
  float: left;
  width: 10%;
  color: white;
  display: block;
}

nav ul{
  width: 50%;
}

header nav input{
  width: 100%;
}

main > section{
  height: 500px;
  width: 50%;
  margin-top: 100px;
  float: left;
}

main section + section section{
  width: 50%;
  height:250px;
  border: 2px solid black;
  float: left;

}

main + section section{
  width: 33.3333%;
  float: left;
}
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
