li {
    color: blue;
    background: gray;
    text-decoration: underline;
    font-size: 15px;
}

/* Please make this section have a height of 300px, a light purple background, a gold border that is 5px thic */
section {
    background: rgb(208, 9, 208);
    height: 300px;
    border: 5px solid gold;
}

/* Please make this h1 30px, gold, centered, and use the Source Sans Pro Font */
h1 {
    font-size: 30px;
    color: gold;
    text-align: center;
    font-family: 'source sans 3', sans-serif;

}

/* Please make this footer have a dark brown background, 300px in height, and only 70% width. */

footer {
    background: rgb(57, 24, 24);
    height: 300px;
    width: 70%;
}

/* Please make this text have a line through it */

h2 {
    text-decoration: line-through;
}