body {
    background: rgb(35, 183, 232);
}

body>section {
    width: 35%;
    height: 80%;
    border: 5px solid rgb(9, 161, 9);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    color: white;
    font-size: 50px;
    font-style: italic;
}

header {
    color: white;
    font-size: 25px;
    text-align: center;
}

header a {
    color: rgb(9, 161, 9);
}

h2 {
    color: white;
    font-size: 40px;
}

p{
    color:white;
    font-size: 20px;
}
img {
    float: right;
    width: 200px;
    height: 275px;
}

footer {
    text-align: center;
    font-size: 25px;
    clear: right;
}

footer a {
    color: rgb(9, 161, 9);
    ;
}

li {
    display: inline-block;
}