body {
    background: rgb(35, 183, 232);
}

body>section {
    max-width: 450px;
    margin: 0 auto;
    border: 5px solid rgb(9, 161, 9);
    padding: 10px;

}

h1 {
    color: white;
    font-size: 30px;
    font-style: italic;
}

header {
    color: white;
    font-size: 15px;
    text-align: center;
}

header a {
    color: rgb(9, 161, 9);
}

h2 {
    color: white;
    font-size: 25px;
}

p {
    color: white;
    font-size: 15px;
}

img {
    float: right;
    width: 200px;
    height: 275px;
}

footer {
    font-size: 15px;
    text-align: center;
}

footer a {
    color: rgb(9, 161, 9);
}

li {
    display: inline;
}
